<nav class="navbar fixed-top navbar-dark bg-dark">
  <a class="navbar-brand" href="#">
    <i class="d-inline-block align-top material-icons">code</i>
    codegig
  </a>
  <ul class="nav justify-content-end">
    <li class="nav-item">
      <a class="nav-link active" href="/">Home</a>
    </li>
    <li class="nav-item">
      <a class="nav-link" href="/gigs">Gigs</a>
    </li>
    <li class="nav-item">
      <a class="nav-link" href="/gigs/add">Add Gig</a>
    </li>
  </ul>
</nav>